@font-face {
  font-family: "DAGGERSQUARE";
  src: url("../public/fonts/DAGGERSQUARE.otf") format("otf")
 }

body {
  margin: 0;
  font-family: 'DAGGERSQUARE' ,'poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background*/
  background-color: #282c34;

  /*Text*/
  color: #FFDA70;
}

h1, h2, h3, h4, p{
  font-family: 'DAGGERSQUARE' ,'poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
h4{
  color: #050503;
}

div.p-card-content{
  padding: 0px !important;
}
div.p-card-body{
  padding: 5px !important;
}
@media screen and (max-width: 500px){
  ul.p-tabview-nav{
  display: block;
}
}

